

.mycontainer .btn-e {
    background-color: #f1f1f1;
    font-size: 12px;
    padding: 7px 12px;
    /*border: none;*/
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    margin-top: 0.7%
}
.mycontainer .btn-e:hover{
    border-radius: 15px;
    background-color:#4286f4;
    font-size: 12px;
    padding: 7px 12px;
}

.mycontainer .btn-c {
    background-color: #f1f1f1;
    font-size: 12px;
    padding: 7px 12px;
    /*border: none;*/
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    margin-top: 0.7%;
    margin-left: 5%
}
.mycontainer .btn-c:hover{
    border-radius: 15px;
    background-color:#4286f4;
    font-size: 12px;
    padding: 7px 12px;
}