body {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  font-family: 'Titillium Web', sans-serif;
  max-width: 100%;
    
}

.logout{
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size:20px;
    color:white;
    margin-left:95%;
}
.logout:hover{
    color:red;
}

.h-4{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    color: brown;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.hello-left{
    height: 450px;
    width: 30%;
    background-color: aqua;
    margin-left:5%;
    justify-content: center;
    box-shadow: 8px 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 10px;
    flex-flow: row wrap;
    display: flex;
}
.hello-right{
    height:450px;
    width: 30%;
    background-color: red   ;
    margin-left:20%;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    box-shadow: 8px 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 10px;
    
}
.inp{
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius:5px;
    height: 20px;  
}

.btn-submit {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
     padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn-submit:hover {
    background-color:greenyellow;
    color: white;
}

.btn-del{
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
     padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.btn-del:hover {
    background-color:orange;
    color: white;
}
